<nb-chat size="giant">
          <nb-chat-message *ngFor="let msg of messages"
                           [type]="msg.type"
                           [message]="msg.text"
                           [reply]="msg.sender == alias"
                           [sender]="alias"
                           [date]="timestampToDate(msg.timestamp)"
                           avatar="https://api.dicebear.com/7.x/pixel-art/svg?seed={{alias}}">
          </nb-chat-message>
          <nb-chat-form (send)="sendMessage($event)" [dropFiles]="false">
          </nb-chat-form>
  </nb-chat>
