<h1>Todo</h1>

<form id="sign" [formGroup]="form" *ngIf="showLogin">
  <input placeholder="username" formControlName="username">
  <input type="password" placeholder="passphrase" formControlName="password">
  <input type="submit" value="Log In" (click)="logIn()">
  <input type="button" value="Sign Up" (click)="signUp()">
</form>

<ul *ngFor="let s of said">
    <li>{{s}}</li>
</ul>

<form id="said" [formGroup]="speakingForm" (ngSubmit)="speak()">
    <input id="say" formControlName="said">
    <input id="speak" type="submit" value="speak">
</form>
